@using CrossfitDiary.Web.ViewModels
@using Newtonsoft.Json

@{
    ViewBag.Title = "Manage Workout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? predefindWorkoutId = ViewBag.PredefindWorkoutId;
    int? crossfitterWorkoutId = ViewBag.CrossfitterWorkoutId;
    WorkoutViewModel predefindWorkout = ViewBag.PredefindWorkout;


    bool isEditMode = predefindWorkoutId.HasValue && crossfitterWorkoutId.HasValue;
    bool isRepeatMode = predefindWorkoutId.HasValue && crossfitterWorkoutId.HasValue == false;
    bool isDefaultModel = predefindWorkoutId.HasValue == false && crossfitterWorkoutId.HasValue == false;
}

<div class="manage-workout-page" data-bind="visible:true" style="display: none">



    <div data-bind="visible: isDataLoading">
        @Html.Partial(MVC.Shared.Views._Spinner)
    </div>

    <div class="manage-workout-container my-2">
        <div>
            <div class="crossfitter-edit-workout-container">
                <div class="col-md-12 add-new-workout-container workout-container">
                    <div class="card ">
                        <div class="card-header ">
                            <a class="nav-link btn btn-primary text-light d-inline-block p-0" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <div class="small-action-link-button">
                                    <div class="icon-container">
                                        <i class="fas fa-clock"></i>
                                    </div>
                                    <div class="text-container">FT</div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="row " data-bind="visible: _isEditMode == false && _isRepeatMode == false">
                                <div class="workout-type-selector col-sm-12 my-1">
                                    <select class="form-control" data-live-search="true" data-bind="options:_workoutTypes, optionsText:'text',value: selectedWorkoutType, optionsCaption: 'Choose workout type',selectPicker: {}"></select>
                                </div>
                            </div>


                            <div data-bind="if:workoutToDisplay() != null">
                                <div data-bind="template: { name: 'routine-info-template', data: {model: workoutToDisplay, controller: $data} }"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="want-to-log-container my-2">
            <div class="log-workout-container" data-bind="with:_logWorkoutController">
                @{ Html.RenderPartial(MVC.Crossfitter.Views.Templates._LogWorkoutPartial); }
            </div>
        </div>
    </div>
</div>


@{ Html.RenderPartial(MVC.Crossfitter.Views.Templates._RoutineInfoTemplate); }

@section styles{
    @Styles.Render("~/Content/manage-workout")
}

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/general-models")

    @Scripts.Render("~/bundles/crossfitter/manageWorkout")
<script>
        $(function() {
            var path = "@Url.Content("~")";
            @{
                if (isEditMode)
                {
                     <text>
                         ko.applyBindings(new Pages.ManageWorkoutController(new General.BasicParameters(path),  @Html.Raw(JsonConvert.SerializeObject(predefindWorkout)), @crossfitterWorkoutId));
                     </text>
                }
                if (isRepeatMode)
                {
                    <text>
                        ko.applyBindings(new Pages.ManageWorkoutController(new General.BasicParameters(path), @Html.Raw(JsonConvert.SerializeObject(predefindWorkout))));
                    </text>
                }
                if (isDefaultModel)
                {
                    <text>
                        ko.applyBindings(new Pages.ManageWorkoutController(new General.BasicParameters(path)));
                    </text>
                }
            }
        });
</script>
}