
@{
    ViewBag.Title = "Manage Workout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="manage-workout-page">
    <div class="new-or-existing" id="NewOrExistingAccordion">
        <div class="choose-buttons text-center" style="display: none" data-bind="visible:true">
            <button type="button" class="btn btn-primary btn-lg" data-parent="#NewOrExistingAccordion" data-toggle="collapse" data-target="#NewWorkoutContainer" data-bind="click:function(){manageWorkoutClick(true);}">Create new workout?</button>
            or
            <button type="button" class="btn btn-primary btn-lg" data-parent="#NewOrExistingAccordion" data-toggle="collapse" data-target="#ExistingWorkoutsContainer" data-bind="click:function(){manageWorkoutClick(false);}">Log existing workout?</button>
        </div>

        <div class="panel panel-borderless" >
            <div class="new-workout-container collapse" id="NewWorkoutContainer">
                <div data-bind="template: { name: 'create-new-workout-template', data: createWorkoutController }"></div>
                
                <div class="want-to-log-container" data-bind="if: createWorkoutController._selectedWorkoutType() != null">
                    <div class="panel panel-borderless">
                        <div class="log-workout-container" id="LogWorkoutContainer">
                            @{ Html.RenderPartial(MVC.Crossfitter.Views.Templates._LogWorkoutPartial); }
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel panel-borderless">
            <div class="existing-workouts-container collapse" id="ExistingWorkoutsContainer">
                <div data-bind="template: { name: 'existing-workouts-template', data: chooseExistingWorkoutController }"></div>
                
@*                <div class="want-to-log-container">*@
@*                    <div class="panel panel-borderless">*@
@*                        <div class="log-workout-container" id="LogWorkoutContainer" >*@
@*                            @{ Html.RenderPartial(MVC.Crossfitter.Views.Templates._LogWorkoutPartial); }*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@

            </div>
        </div>
    </div>
</div>


@{ Html.RenderPartial(MVC.Crossfitter.Views.Templates._CreateNewWorkout); }
@{ Html.RenderPartial(MVC.Crossfitter.Views.Templates._ExistingWorkoutsTemplate); }
@{ Html.RenderPartial(MVC.Crossfitter.Views.Templates._RoutineInfoTemplate); }

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/crossfitter/manageWorkout")
    <script>
        $(function() {
            var path = "@Url.Content("~")";
            let model = new Pages.ManageWorkoutController(new General.BasicParameters(path));
            ko.applyBindings(model);
        });
    </script>
}