@using CrossfitDiary.Web.ViewModels
@using Newtonsoft.Json

@{
    ViewBag.Title = "Manage Workout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? predefindWorkoutId = ViewBag.PredefindWorkoutId;
    int? crossfitterWorkoutId = ViewBag.CrossfitterWorkoutId;
    WorkoutViewModel predefindWorkout = ViewBag.PredefindWorkout;


    bool isEditMode = predefindWorkoutId.HasValue && crossfitterWorkoutId.HasValue;
    bool isRepeatMode = predefindWorkoutId.HasValue && crossfitterWorkoutId.HasValue == false;
    bool isDefaultModel = predefindWorkoutId.HasValue == false && crossfitterWorkoutId.HasValue == false;
}

<div class="manage-workout-page" data-bind="visible:true" style="display: none">



    <div data-bind="visible: isDataLoading">
        @Html.Partial(MVC.Shared.Views._Spinner)
    </div>

    <div class="manage-workout-container my-2">
        <div>
            <div class="crossfitter-edit-workout-container">
                <div class="col-md-12 add-new-workout-container workout-container">
                    <div class="card ">
                        <div class="card-header ">
                            <a class="btn btn-secondary text-light d-inline-block p-0 @(!isDefaultModel?"disabled":null)" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" 
                               aria-controls="collapseExample" data-bind="css: {'btn-info':selectedWorkoutTypeId() == Models.WorkoutType.ForTime},click: function(){selectWorkoutType(Models.WorkoutType.ForTime)}">
                                <div class="small-action-link-button">
                                    <div class="icon-container">
                                        <i class="fas fa-clock"></i>
                                    </div>
                                    <div class="text-container">FT</div>
                                </div>
                            </a>
                            <a class="btn btn-secondary text-light d-inline-block p-0 @(!isDefaultModel?"disabled":null)" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"
                               data-bind="css: {'btn-info':selectedWorkoutTypeId() == Models.WorkoutType.AMRAP},click: function(){selectWorkoutType(Models.WorkoutType.AMRAP)}">
                                <div class="small-action-link-button">
                                    <div class="icon-container">
                                        <i class="fas fa-list-ol "></i>
                                    </div>
                                    <div class="text-container">AMRAP</div>
                                </div>
                            </a>
                            <a class="btn btn-secondary text-light d-inline-block p-0 @(!isDefaultModel?"disabled":null)" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"
                               data-bind="css: {'btn-info':selectedWorkoutTypeId() == Models.WorkoutType.EMOM},click: function(){selectWorkoutType(Models.WorkoutType.EMOM)}">
                                <div class="small-action-link-button">
                                    <div class="icon-container">
                                        <i class="fas fa-retweet"></i>
                                    </div>
                                    <div class="text-container">EMOM</div>
                                </div>
                            </a>
                            <a class="btn btn-secondary text-light d-inline-block p-0 @(!isDefaultModel?"disabled":null)" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"
                               data-bind="css: {'btn-info':selectedWorkoutTypeId() == Models.WorkoutType.NotForTime},click: function(){selectWorkoutType(Models.WorkoutType.NotForTime)}">
                                <div class="small-action-link-button">
                                    <div class="icon-container">
                                        <i class="far fa-pause-circle "></i>
                                    </div>
                                    <div class="text-container">NFT</div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body pt-0">
                            <div data-bind="if:workoutToDisplay() != null">
                                <div data-bind="template: { name: 'routine-info-template', data: {model: workoutToDisplay, controller: $data} }"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="want-to-log-container my-3">
            <div class="log-workout-container" data-bind="with:_logWorkoutController">
                @{ Html.RenderPartial(MVC.Crossfitter.Views.Templates._LogWorkoutPartial); }
            </div>
        </div>
    </div>
</div>


@{ Html.RenderPartial(MVC.Crossfitter.Views.Templates._RoutineInfoTemplate); }

@section styles{
    @Styles.Render("~/Content/manage-workout")
}

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/general-models")

    @Scripts.Render("~/bundles/crossfitter/manageWorkout")
<script>
        $(function() {
            var path = "@Url.Content("~")";
            @{
                if (isEditMode)
                {
                     <text>
                         ko.applyBindings(new Pages.ManageWorkoutController(new General.BasicParameters(path),  @Html.Raw(JsonConvert.SerializeObject(predefindWorkout)), @crossfitterWorkoutId));
                     </text>
                }
                if (isRepeatMode)
                {
                    <text>
                        ko.applyBindings(new Pages.ManageWorkoutController(new General.BasicParameters(path), @Html.Raw(JsonConvert.SerializeObject(predefindWorkout))));
                    </text>
                }
                if (isDefaultModel)
                {
                    <text>
                        ko.applyBindings(new Pages.ManageWorkoutController(new General.BasicParameters(path)));
                    </text>
                }
            }
        });
</script>
}