@{
    ViewBag.Title = "Our prides";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-bind="visible:true" style="display: none" class="pride-container">
    <div data-bind="visible: isDataLoading">
        @Html.Partial(MVC.Shared.Views._Spinner)
    </div>
    <h2>Choose an exercise:</h2>
    <select class="form-control exercise-selector" data-live-search="true" data-bind="options:_exercises, optionsText:'title',value: _selectedExercise, optionsCaption: 'Choose an exercise...',selectPicker: {}"></select>

    <div class="person-records" data-bind="if:_selectedExercise">
        <h3>Your results </h3>
        <div class="clearfix">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th class="fixed-pride-width">Name</th>
                        <th class="fixed-pride-width">Maximum weight</th>
                        <th class="fixed-pride-width">Date</th>
                </thead>
                <tbody>
                    <!--ko if:_personMaximums().length == 0 -->
                    <tr class="empty-data">
                        <td colspan="4">No records were found for you</td>
                    </tr>
                    <!-- /ko -->
                    <!-- ko foreach: _personMaximums -->
                    <tr>
                        <td>
                            <span data-bind="text: personName"></span>
                        </td>
                        <td>
                            <span class="maximum-weight" data-bind="text: maximumWeight"></span>
                        </td>
                        <td>
                            <span data-bind="text: date"></span>
                        </td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>


    <div class="all-persons-records my-4" data-bind="if:_selectedExercise">
        <h3>All persons results </h3>
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th></th>
                    <th class="fixed-pride-width">Name</th>
                    <th class="fixed-pride-width" >Maximum weight</th>
                    <th class="fixed-pride-width" >Date</th>
            </thead>
            <tbody>
                <!--ko if:_allPersonsMaximums().length == 0 -->
                <tr class="empty-data">
                    <td colspan="5">No records yet</td>
                </tr>
                <!-- /ko -->
                <!-- ko foreach: _allPersonsMaximums -->
                <tr data-bind="css: {'success': isItMe }">
                    <td>
                        <span data-bind="text: positionBetweenOthers"></span>
                    </td>
                    <td>
                        <span data-bind="text: personName"></span>
                    </td>
                    <td>
                        <span data-bind="text: maximumWeight"></span>
                    </td>
                    <td>
                        <span data-bind="text: date"></span>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>

    </div>
</div>

@section styles{
    @Styles.Render("~/Content/pride")
}


@section Scripts{

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/general-models")
    @Scripts.Render("~/bundles/crossfitter/statistics")
    <script>
        $(function() {
            const model = new Pages.PrideController({ pathToApp: "@Url.Content("~")" });
            ko.applyBindings(model);
        });
    </script>
}