@using CrossfitDiary.Web.MvcHelpers
@using Links
@using Scripts = System.Web.Optimization.Scripts
@{
    string currentVersion = string.Format("{0}.{1}.{2}", ViewContext.Controller.GetType().Assembly.GetName().Version.Major, ViewContext.Controller.GetType().Assembly.GetName().Version.Minor, ViewContext.Controller.GetType().Assembly.GetName().Version.Build);
}
<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-35949393-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-35949393-2');
    </script>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="shortcut icon" type="image/png" href="@Url.Content(Content.favicon_ico)"/>

    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/font-awesome")
    @RenderSection("styles", required: true)
</head>
<body>
@if (User.Identity.IsAuthenticated)
{
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name)">Workouter v@(currentVersion)</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navBar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @Html.IsSelected(MVC.Home.Name, MVC.Home.ActionNames.Index)">
                        <a class="nav-link" href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name)"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                    </li>
                    <li class="nav-item @Html.IsSelected(MVC.Crossfitter.Name, MVC.Crossfitter.ActionNames.ManageWorkout)">
                        <a class="nav-link" href="@Url.Action(MVC.Crossfitter.ActionNames.ManageWorkout, MVC.Crossfitter.Name)"><i class="fa fa-rocket" aria-hidden="true"></i> Create/Log workout</a>
                    </li>
                    <li class="nav-item @Html.IsSelected(MVC.Crossfitter.Name, MVC.Crossfitter.ActionNames.Pride)">
                        <a class="nav-link" href="@Url.Action(MVC.Crossfitter.ActionNames.Pride, MVC.Crossfitter.Name)"><i class="fa fa-calculator" aria-hidden="true"></i> Our prides</a>

                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <span class="navbar-text mr-lg-2">
                        @User.Identity.Name
                    </span>
                    <a class="btn btn-outline-primary" href="@Url.Action(MVC.Account.ActionNames.LogOut, MVC.Account.Name)"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                </form>
            </div>
        </div>
    </nav>
}
<div class="container">
    @RenderBody()
</div>

@RenderSection("scripts", required: false)
</body>
</html>