@using CrossfitDiary.Web.MvcHelpers
@{
    var currentVersion = string.Format("{0}.{1}.{2}",ViewContext.Controller.GetType().Assembly.GetName().Version.Major, ViewContext.Controller.GetType().Assembly.GetName().Version.Minor, ViewContext.Controller.GetType().Assembly.GetName().Version.Build);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<nav class="navbar navbar-inverse ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name)">Workouter v@(currentVersion)</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            @if (@User.Identity.IsAuthenticated)
            {
                <a class="btn btn-info navbar-btn" href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name)"><i class="fa fa-home" aria-hidden="true"></i> Home</a>

                <a class="btn btn-success navbar-btn" href="@Url.Action(MVC.Crossfitter.ActionNames.ManageWorkout, MVC.Crossfitter.Name)"><i class="fa fa-rocket" aria-hidden="true"></i>  Create/Log workout</a>
                <a class="btn btn-danger navbar-btn" href="@Url.Action(MVC.Crossfitter.ActionNames.Pride, MVC.Crossfitter.Name)"><i class="fa fa-calculator" aria-hidden="true"></i> Our Prides</a>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action(MVC.Account.ActionNames.LogOut, MVC.Account.Name)"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">@User.Identity.Name</a>
                    </li>
                </ul>
            }
            else
            {
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action(MVC.Account.ActionNames.Login, MVC.Account.Name)">Log In <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
            </ul>
            }
        </div>
    </div>
</nav>

<div class="container">
    @RenderBody()
</div>



@Scripts.Render("~/bundles/site")
@RenderSection("scripts", required: false)
</body>
</html>